#globalheader {
  background-color: #3d3d3d;
  text-align: left;
  margin-bottom: 50px;
  padding: 10px 0px 0 0;
  color: #fff;
}

#navlist {
color: #fff;
position: relative;
min-height: 40px;
padding:10px 0 0 0;
border: 8px solid #3d3d3d;
float:left;
}

#navlist:hover {
border-bottom: 8px solid #5a8ba8;

}


#upload {
  border: 0;
  background-image: linear-gradient(-180deg, #5a8ba8, 0, #5a8ba8 100%);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2), 0 10px 20px 0 rgba(0,0,0,.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  transition: .4s;
  outline: none;
  overflow: visible;
}

#upload:hover {
transform: translateY(-2px);
box-shadow: 0 5px 10px 0 rgba(0,0,0,.2), 0 20px 30px 0 rgba(0,0,0,.5);
text-decoration: none;
color:#3d3d3d;
opacity: 0.8;
}

#upload:active {
  transform: translateY(4px);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.2), 0 20px 30px 0 rgba(0,0,0,.5);
  text-decoration: none;
}

.uploadflex {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content:space-between;
  align-items:center;
}

.filterflex {
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content:space-between;
  align-items:center;
}

#filter {
  font-size: 1.0em;
  font-weight: 200;
  text-align: center;
  min-width:120px;
  line-height: 1;
  color: #3d3d3d;
  padding: 1%;
  margin: 1%;
  border-radius: 25px;
  border: 1px solid #000;
  -webkit-transform:translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidde
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

#filter:hover, #filter:active {
  text-decoration: none;
  background: rgba(61,61,61,0.58);
  color: #fff;
}

#docs{
  text-align: center;
  padding:2%;
}

#recent {
  border-top: 4px solid #000;
  border-bottom: 2px dotted #000;
  border-radius: 1px;
  padding: 2%;
  min-height: 200px;
  line-height: 2.5;
  text-align: left;
  font-size: 1em;
  font-weight:50;
  margin-top: 2%;
}


.grid {
	list-style: none;
	padding: 0 0 50px 0;
	margin: 0;
}

/* Clear floats */
.grid:before,
.grid:after {
	display: table;
}

.grid:after {
	clear: both;
}



.collectiontext{
  margin: 2%;
  padding: 2%;
  text-align: center;

}
#collections {
  padding: 2%;
  border: 2px solid #000;
  border-radius: 25px;
  min-height: 200px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 300;
}

#toolkits {
  text-align: center;
  min-height: 300px;
  font-size: 1.5em;
  font-weight: 300px;
  -webkit-transform:translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

#toolkits:hover, #toolkits:active {
  text-decoration: none;
  background: rgba(61,61,61,0.58);
  color: #fff;
}

#footer {
  background-color: #3d3d3d;
  text-align: center;
  margin-top: 50px;
  color: #fff;
}
